/* .main{
  height: 100%;
} */
/* .root{
  background: #4f8a8b;
} */

/* body{
  background: #aacfcf
} */


.mainDiv{
   display: flex;
   flex-direction: column;
  align-content: space-around;
}
.card {
  position: relative;
  border-radius: 10px;
  /* box-shadow: 1px 2px #888888; */
  /* border: 10px; */
  padding: 10px;
  width: 75%;
  align-content: center
}

.inputDiv{
align-content: center;
margin: 2%
}

.tableDiv{
  margin: 2%
  
}

.toast{
  max-width: 100%;
}

.error {
  color:#db2269;
  font-size: 0.625em;
  display: relative;
}

/* .tableMain{
  margin-top: 75%
} */

.publicMain{
  margin: 2%;
}

/* .btn-dislike{
  background: red;
  border: 0px;
}
.btn-dislike:hover{
  background: rgb(235, 25, 25);
  border: 0px;
}

.btn-view{
  background: rgb(17, 218, 17);
  border: 0px;
}

.btn-view:hover{
  background: green;
  border: 0px;
} */

