/* .main{
  height: 100%;
} */

.mainDiv{
   display: flex;
   flex-direction: column;
  align-content: space-around;
}
.card {
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 3px #888888;
  padding: 10px;
  width: 75%;
  align-content: center
}

.inputDiv{
align-content: center;
margin: 2%
}

.tableDiv{
  margin: 2%
  
}

.toast{
  max-width: 100%;
}

.error {
  color:#db2269;
  font-size: 0.625em;
  display: relative;
}

/* .tableMain{
  margin-top: 75%
} */

.publicMain{
  margin: 2%
}
