.main{
  height: 100%;
}

.card {
  position: absolute;
  top: 10%;
  border-radius: 10px;
  box-shadow: 1px 3px #888888;  
  padding: 10px;
}

.toast{
  max-width: 100%;
}

.error {
  color:#db2269;
  font-size: 0.625em;
  display: relative;
}

.tableMain{
  margin-top: 35%
}
